*{
  /* border: solid red 2px ; */
  /* background-image: url("/images/bora-bora.png"); */
  /* background-repeat: no-repeat;
  background-size: cover; */
}

body {
  background: rgb(225, 197, 197);
  /* background-image: url("/images/bora-bora.png");
  background-repeat: no-repeat;
  background-size: cover; */
}

/* header section */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(210, 71, 210);
  border-radius: 1em;
}

.header__turingLogo {
height: 10vh;
}

.header__title {
  font-size: 2em;
}

.input-section {
display: flex;
align-items: center;
justify-content: center;
}

/* bookings */

.main {
display: flex;
justify-content: center;
/* align-items: space-around; */
}

.dashboard-display, .login-page {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.main__bookingsDisplay {
display: flex;
justify-content: center;
width: 50%;
background-color: rgb(210, 71, 210);
margin-top: 3em;
border-radius: 1em;
height: fit-content;
}

.filter-bookings-Display {
  display: flex;
  width: 85%;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.filter__room {
  background-color: white;
  border-radius: 1em;
  margin: 0.5em
}

.search-button {
  width: 10em;
  height: 2em;
}

button {
  background-color: rgb(255, 255, 255);
  margin: .5em;
  border-radius: .5em;
  border: solid black 1px;
}

.hidden {
  display: none;
}