/* *{
  border: solid red 2px ;
} */

body {
  background: rgb(225, 197, 197);
}

/* header section */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(210, 71, 210);
}

.header__turingLogo {
height: 10vh;
}

.header__title {
  font-size: 2em;
}

/* bookings */

.main {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.main__bookingsDisplay {
display: flex;
justify-content: center;
}

.filter-bookings-Display {
  display: flex;
  width: 50%;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.filter__room {
  background-color: white;
  border-radius: 1em;
  margin: 0.5em
}

button {
  background-color: rgb(255, 255, 255);
  margin: .5em;
  border-radius: .5em;
  border: solid black 1px;
}

.hidden {
  display: none;
}