*{
  border: solid red 2px ;
}

body {
  background: (grey);
}

/* header section */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(210, 71, 210);
}

.header__turingLogo {
height: 10vh;
}

.header__title {
  font-size: 2em;
}

/* bookings */

.main__bookingsDisplay {
display: flex;
justify-content: center;
}